*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: PoppinsReg;
    src: url('../assets/Poppins/Poppins-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: PoppinsReg;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}