nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0
}

nav .nav {
    display: flex;
}

/* nav left */

nav .nav-left, .nav-right {
    width: 50%;
}

nav .nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .nav-left > * {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

nav .nav-left > *:hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

/* nav right */

nav .nav-right {
    display: flex;
    justify-content: flex-end;
}

nav .nav-right ul {
    display: none;
}

nav .nav-right ul > * {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
}

nav .nav-right ul > :hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

/* hamburger */

.hamburger {
    cursor: pointer;
}

.hamburger > * {
    margin: 0.5rem 0;
}

.burger-line {
    width: 2rem;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
}

nav .nav-right #show {
    background-color: black;
    display: flex;
    position: absolute;
    left: 0px;
    top: 3rem;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* animation */

.hamburger.open .burger-line:nth-child(2) {
    transform: translateX(-400px) rotateZ(90deg);    
    background: transparent;
    box-shadow: none;
}

.hamburger.open .burger-line:nth-child(1) {
    transform: rotate(-45deg) translate(-7.5px, 7.5px)
}

.hamburger.open .burger-line:nth-child(3) {
    transform: rotate(45deg)  translate(-5px, -5px)
}

/* media queries */

@media screen and (min-width: 38rem) {
    nav .nav-right ul {
        display: flex;
    }
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 38rem) {
    nav .nav-right ul > * {
        border-radius: 0;
    }
}