.steps {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
}

.steps > * {
    margin: 0.5rem 0;
}

.steps h3 {
    font-size: 2rem;
}

.steps h4 > span {
    font-size: 1.5rem;
}

/* code section */

.code-background {
    background-color: teal;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}