nav {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right, .left {
    width: 50%;
}

nav .right ul > *, .left > * {
    display: inline-block;
    
}

nav .right ul > *, .left > * {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: orange;
}

nav .right {
    display: flex;
}

nav .right ul {
    margin-left: auto;
}

nav .right ul > *:hover, .left > *:hover {
    background-color: red;
}